*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: url("../assets/img/FONDO.jpg");
    color: $color-primario;
}

.volver404{
  text-decoration: none;
  color: white;
  justify-items: center;
  button {
    width: 5rem;
    transition: all 1s;
    &:hover {
        width: auto;
        transform: scale(1,1);
        background-color: $color-cuaternario;
        letter-spacing: 1ch;
        color: $color-primario;
        box-shadow: 10px 10px 10px -4px $color-sombra-purple, -10px 10px 12px -4px $color-sombra-purple;
}
    a{
      color: $color-primario;
       &:hover {
        color: $color-primario;
       }
     }
  }
}